:host {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.sideContainer{
  width: 96px; /* 0 width - change this with JavaScript */
  position: relative;
  top: 0; /* Stay at the top */
  left: 0;
  bottom: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-color: rgb(233, 233, 233);
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

  .sideContainer .logo {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    height: 84px;
    cursor: pointer;
  }

    .sideContainer .logo .logoImg{
      height: 100%;
      fill: #818181;
    }

    .sideContainer .logo .logoImg:hover{
      fill: #ff5700;
    }

  .sideContainer .sidenav {
    margin-top: 8px;
    flex-grow: 1;
  }

    /* The navigation menu links */
    .sideContainer .sidenav a {
      padding: 0 10px;
      text-decoration: none;
      color: #818181;
      display: block;
      height: 48px;
      text-align: center;
      cursor: pointer;
      margin-bottom: 16px;
    }

    .sideContainer .sidenav a .testProductImg {
      display: block;
      position: relative;
      width: 32px;
      height: 32px;
      margin: 0 auto;
      text-align: center;
      fill: #818181;
    }

    .sideContainer .sidenav a.active .testProductImg,
    .sideContainer .sidenav a:hover .testProductImg
    {
      fill: rgb(248, 86, 13);
    }

    .sideContainer .sidenav a:hover,
    .sideContainer .sidenav a.active {
      color: rgb(248, 86, 13);
    }

  .sideContainer .sidebarDivider {
    display: flex;
    justify-content: center;
  }

  .sideContainer .sidebarDivider span {
    height: 2px;
    width: 52px;
    background-color: #d5d5d5;
    border-radius: 1px;
  }

.main {
  flex-grow: 1;
  position: relative;
}
